@font-face {
  font-family: "iconfont"; /* Project id 3206661 */
  src: url('iconfont.woff2?t=1646210982346') format('woff2'),
       url('iconfont.woff?t=1646210982346') format('woff'),
       url('iconfont.ttf?t=1646210982346') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eye-fill:before {
  content: "\e869";
}

.icon-eyeclose-fill:before {
  content: "\e8ff";
}

.icon-shenglvehao:before {
  content: "\e708";
}

.icon-jian:before {
  content: "\e603";
}

.icon-xiangxiajiantoucuxiao:before {
  content: "\e8c8";
}

.icon-xiangshangjiantoucuxiao:before {
  content: "\e8d8";
}

.icon-jiajianzujianjiahao:before {
  content: "\e64d";
}

.icon-dian:before {
  content: "\e62c";
}

.icon-guanbi2:before {
  content: "\e60a";
}

.icon-xialajiantouxiao:before {
  content: "\e87e";
}

.icon-guanxitu:before {
  content: "\e62a";
}

.icon-biaodanzujian-biaoge:before {
  content: "\eb94";
}

.icon-wenjianjia:before {
  content: "\e61b";
}

.icon-shuju_biao:before {
  content: "\e74c";
}

.icon-shujuyu:before {
  content: "\e624";
}

.icon-shuaxin1:before {
  content: "\e602";
}

.icon-xiangzuo:before {
  content: "\e601";
}

.icon-tuichu:before {
  content: "\e645";
}

.icon-quanbubaocungongzuobiao:before {
  content: "\e800";
}

.icon-shezhi:before {
  content: "\e600";
}

.icon-addfolder:before {
  content: "\e685";
}

.icon-shujukulianjie:before {
  content: "\e831";
}

.icon-save:before {
  content: "\e658";
}

.icon-file-open:before {
  content: "\e670";
}

